<h1>rails4課題用サイトのトップ</h1>
仕様：ノベルゲーム作成＆プレイサイト<br>
なんかページ作ってレッツプレイ的なそんな雰囲気<br>
<h3>めにゅー</h3>
<%= link_to "ノベル管理", novels_url %>
<%= link_to "ページ管理", novel_pages_url %>
<%= link_to "リンク管理", novel_links_url %><br>

<h3>ノベル一覧</h3>
<% @novels.each do |n| %>
  <%= link_to n.title, novel_url(n) %> by <%= n.author %><br>
  [<%= n.content %>]<br><br>
<% end %>
