<p id="notice"><%= notice %></p>

<p>
  <strong>Novel:</strong>
  <%= @novel_page.novel %>
</p>

<p>
  <strong>Title:</strong>
  <%= @novel_page.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @novel_page.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @novel_page.status %>
</p>


<%= link_to 'Edit', edit_novel_page_path(@novel_page) %> |
<%= link_to 'Back', novel_pages_path %>
